@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?6yy3dt');
    src: url('fonts/icomoon.eot?6yy3dt#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?6yy3dt') format('truetype'),
        url('fonts/icomoon.woff?6yy3dt') format('woff'),
        url('fonts/icomoon.svg?6yy3dt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.leftfix {
    width: 650px;
    height: 1080px;
    position: fixed;
    background-color: #2f5597;
}

.info {
    margin-top: 200px;
    margin-left: 200px;
}

.info img {
    width: 250px;

}

.info h2 {
    font-size: 32px;
    padding: 15px 80px;
    color: azure
}

.leftfix ul span {
    font-family: 'icomoon';
}

.leftfix li {
    margin: 8px 0;
}

.leftfix li a {

    font-size: 16px;
    color: azure
}

.leftfix li a:hover {
    color: #1f2328;
}