body{
    font:16px/28px "Microsoft YaHei"
}

h2{
    font-weight: 400;
    text-align: center;
}

a{
    text-decoration: none;
}

div{
    text-align: center;
    font-size: 12px;
    color: #8888;
}

.search{
    color: #6666;

}

.btn{
    font-weight: bold;
}

p{
    text-indent: 2em;
}

.pic{
    text-align: center;
}